div.ui.grid.container{
    margin-left: 0px !important;
    margin-right: 0px !important;
    overflow-x: hidden;
}
.scores{
    height: 100px;
    width: 100%;
    margin:0px 0px;
    .column{
      width: 50%;
        &:first-of-type{
            background-color: firebrick;
            color:white;
        }
        background-color: navy;
        color: white;
    
    }
    h1{
      text-align: center; 
      transform: translate(0,25%);
      font-size: 40px;
    }
}

.blue-col{
    background-color: navy;
    color: white;
    height: 75px;
}
.red-col{
    background-color: firebrick;
    color: white;
    height:75px;
}
div.ui.three.column.grid{
    text-align: center;
    transform: translate(0%,50%);
    // position:
    .column{
        i{
            font-size:22px;
            transform: translate(0,35%);
        }
        padding: 0px 0px;
        .column{
            padding: 0;
            &:first-child{
                font-size: 22px;
                font-weight: bold;
            }
        }
    }
}

.add-scores{
    top:50%;
    position: absolute;
    width: 100%;
    
    div.ui.grid.container{
        margin-bottom: -10px;
    }
}

.inning-btn{
    margin-top: 50px;
    padding:15px;
    transform: translate(-50%,0%);
    position: absolute;
    left: 50%;
}

.win-txt{
    font-size: 30px;
    line-height: 30px;
    font-weight: bold;
    margin-top: 25%;
    width: 100%;
    text-align: center;
}
.reset-btn{
    margin-top: 100px;
    padding:15px;
    transform: translate(-50%, 0%);
    position: absolute;
    left: 50%;
}